$Theme_green: #37FF33;
$Theme_yellow: #FFF500;
$Theme_bule: #0048FC;
$Theme_pink: #E964FD;
$color_black: #000000;
$color_white: #ffffff;
$light_black: #00000099;
$container_w : 1320px;
$container_wide_w: 1440px;
$container_px: 1rem;
$title_font: 74px;
$title_leading: 80px;
$sub-title_font: 20px;
$sub-title_leading: 24px;
$heading-box-gap: 1.2rem;
$secion-space-my: 8rem;
$my-medium-sapce: 4rem;
$overflow-x-animated_gap: 4rem;
$header-footer-px-space: 6vw;